# ===== GLOBAL =====
.env
.env.*
.DS_Store
Thumbs.db
*.log

.vscode/
.idea/

# ===== BACKEND =====
Backend/node_modules/
Backend/.env
Backend/dist/
Backend/__pycache__/
Backend/venv/
Backend/.venv/
Backend/*.pyc

# ===== FRONTEND =====
Frontend/node_modules/
Frontend/dist/
Frontend/build/
Frontend/.env
Frontend/.vite/
