@import "tailwindcss";
@theme {
  --color-bg: #121417;
  --color-sidebar: #202023;
  --color-surface: #27272a;
  --color-border: #3f3f46;

  --color-primary: #7c3aed;
  --color-primary-soft: #a78bfa;
  --color-message: #702ebc;;
}
html, body, #root {
  background-color: #262b33;
  color: #e5e7eb;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(124, 58, 237, 0.4); /* violet */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(124, 58, 237, 0.7);
}